[2015-06-27 22:02] IanVS opened #1 "Fails when installed from npm"
When I install from npm, it seems es6 module importing does not work.

[2015-06-28 01:03] #1 closed

[2015-06-28 01:08] IanVS opened #2 "Use selection numbers for rules, rather than typing"
Currently, it is necessary to type in the name of the rule to dig deeper into.  It would be great if inquirer could assign numbers to each of the failing rules and let the user select a number.

[2015-06-28 01:11] IanVS opened #3 "First report does not always have messages"
If a file has no errors, a report is still returned, with zero warnings and zero errors.  This causes a failure with the way that fatal errors are being checked for.

[2015-06-28 01:12] #3 closed

[2015-06-28 01:24] IanVS opened #4 "Cannot find babel-eslint"
When installed globally, eslint-nibble does not have access to plugins, custom parsers, or shared configs which are installed in the project.

If eslint-nibble needs to be installed globally, those other packages can also be installed globally, but a better way is probably to install eslint-nibble locally to the project.  The usage instructions should be updated to reflect this.

[2015-06-28 01:25] #4 closed

[2015-06-29 02:39] IanVS opened #5 "Import of chalk is broken"

[2015-06-29 02:55] #5 closed

[2015-07-09 12:52] cmalard opened #6 "Error: Cannot find module 'babel/polyfill'"
Hello,

Babel is actually required to run eslint-nibble, so it fails if Babel is not installed with this error :
[code]

[2015-07-09 13:40] IanVS commented on #6
What version of Eslint-nibble are you using? In recent versions I am precompiling, so babel should not be required at all.

[2015-07-09 14:14] cmalard commented on #6
Latest, 0.1.0 :-)

[2015-07-09 14:16] cmalard commented on #6
The file https://github.com/IanVS/eslint-nibble/blob/master/index.js make a call to
[code]

[2015-07-09 14:27] IanVS commented on #6
Ah ha.  I must have missed that when I transitioned from using the Babel require hook to precompiling.  Thanks for the catch!

I can't make a fix until tonight, is there any chance you can submit a PR to remove that line and the commented-out line above it?  To test, you can `npm link` in the eslint-nibble directory, and then  `npm link eslint-nibble` inside a project folder for symlinking into th

[2015-07-09 16:35] #6 closed

[2015-08-02 00:12] IanVS opened #10 "Update to ESLint 1.0.0"

[2015-08-05 06:25] zdychacek commented on #10
+1

[2015-08-05 22:58] IanVS opened #11 "Add Tests"
Really, this is pathetic.

[2015-08-06 05:05] IanVS commented on #10
I am going to try to get #12 in place before upgrading to `1.0.0`.  The difficult part is mostly done, will try to finish it up tomorrow and push a `1.0.0` version of this package which includes eslint `1.0.0` by the end of this week.

I am also considering releasing another version of this tool which will peer-depend on ESLint for those who want to update ESLint independently of this tool.  Hopef

[2015-08-07 02:28] #11 closed

[2015-08-07 03:04] IanVS opened #14 "Add Continuous Integration"
Likely Circle CI.

[2015-08-07 03:16] IanVS commented on #10
This is closed by https://github.com/IanVS/eslint-nibble/commit/383b042c64f0f4fa646e9c81dedbeca17c4b694e.

[2015-08-07 03:16] #10 closed

[2015-08-12 01:27] IanVS opened #15 "Add API"
This tool is intended to be used as a CLI, but as an npm module maybe it should also have an API?  Currently the `main` of `package.json` is broken, so this module cannot be `require`d.  I need to think about use cases which may warrant a possible API.

[2015-08-12 02:01] #14 closed

[2015-08-12 02:10] IanVS opened #16 "Add YUIdoc or similar"

[2015-11-21 03:29] IanVS commented on #6
Are people still seeing this error?  It's the top visited page in the repo.

[2015-12-03 13:41] resurge commented on #6
@IanVS I came here through Google because of the line "Error: Cannot find module 'babel/polyfill'".
It's unrelated to your library but is one of the top Google results for that error.

[2016-02-15 02:18] IanVS opened #19 "Update to ESLint 2.0.0"

[2016-02-23 20:40] mayatron commented on #19
:+1:

[2016-02-23 20:44] IanVS commented on #19
Will do it tonight.  :)

[2016-02-23 20:44] IanVS commented on #19
Unless you want to submit a PR, of course.  ;)

[2016-02-24 15:11] #19 closed

[2016-03-29 13:03] OliDow commented on #6
Aye, I found it through a Google search also "Error: Cannot find module 'babel/polyfill'"

Oli

[2016-04-24 04:20] #16 closed

[2016-04-24 04:20] IanVS commented on #15
Not really necessary.

[2016-04-24 04:20] #15 closed

[2016-06-17 06:31] brajeshyadav84 commented on #6
to resolve this need to run below npm install

npm install --save-dev babel-polyfill

[2016-08-03 22:26] tlrobinson opened #21 "Support `--ext` command line argument"
Unfortunately there's no way to configure which extensions to look at in `.eslintrc` so you have to pass it on the command line: http://eslint.org/docs/user-guide/configuring#specifying-file-extensions-to-lint

It would be great if nibble supported this so I could use it on `.jsx` files, etc.

Relevant ESLint issue: https://github.com/eslint/eslint/issues/2419

[2016-08-03 22:52] IanVS commented on #21
Thanks for the report. I'll work on it tonight, but in the meantime maybe
you can use a glob pattern like `*.jsx`?

On Wed, Aug 3, 2016, 18:26 Tom Robinson <notifications@github.com> wrote:

[2016-08-04 02:49] #21 closed

[2016-08-04 02:54] IanVS commented on #21
Published version `2.1.0` to support `--ext`.  But, version `3.0.0` is right around the corner, which will add support for ESLint 3.X, so I'd suggest waiting for that version if you can.

[2016-08-06 00:25] amilajack opened #26 "Option to disable inquiry."
Linting is a common task run in tests. It would be nice if this project could detect the `NODE_ENV` and disable the prompt.

[2016-08-07 05:26] tlrobinson commented on #21
Thanks for being so responsive!

[2016-08-08 10:12] amilajack commented on #26
Ideally, running `eslint-nibble` would fail when the linter finds errors (throw an Error code 1). This will make tests fail if the linter finds errors.

[2016-08-09 00:16] pmcelhaney commented on #26
You can accomplish that by running eslint directly. Nibble is for when you have more errors than you can fix at once (linting legacy code) and you want to fix a little bit at a time.

[2016-08-09 00:23] IanVS commented on #26
Precisely.  @amilajack, this is really just a tool to get you started with ESLint.  As it says in the readme:

[2016-08-09 00:28] IanVS commented on #26
@amilajack feel free to jump in the [ESLint gitter chat](https://gitter.im/eslint/eslint) if you'd like help getting it set up for your project.  Or continue to use this issue to discuss.  But I'm going to close it for now because I don't think that running `eslint-nibble` within tests is within the scope of what this particular project aims to do.

[2016-08-09 00:28] #26 closed

[2016-09-02 10:52] basickarl commented on #6
@brajeshyadav84 Still getting the error even when it is installed.

[2016-09-03 00:54] IanVS commented on #6
@basickarl is the error coming from `eslint-nibble`? Can you please post the error's stack trace?

[2016-09-03 15:53] basickarl commented on #6
@IanVS Here ya go bud.

[code]

package.json

[code]

start-app.js

[code]

[2016-09-03 16:06] IanVS commented on #6
This is not related to this package. But, it looks like you've installed
babel-polyfill but are trying to require polyfill from babel-core.  I
believe you need to change your require to `require('babel-polyfill')`.
Same for babel-register as well.

On Sat, Sep 3, 2016, 11:53 Karl Morrison <notifications@github.com> wrote:

[2016-09-26 02:21] aboyton opened #27 "Allow a custom .eslintrc file"
For our project we have two `.eslintrc`files, `.eslintrc` which is what we're currently enforcing and `.eslintrc.next`which is where we'd like to be.

It would be nice if you could pass in a custom `.eslintrc` file to nibble like you can with ESLint—`eslint -c .eslintrc.next`.

[2016-09-26 03:54] IanVS commented on #27
Seems reasonable.  Would you like to submit a PR?  Should just be a matter of adding the option to https://github.com/IanVS/eslint-nibble/blob/master/src/config/options.js, and then adding some flexibility around https://github.com/IanVS/eslint-nibble/blob/master/src/nibbler.js#L62 which is called from https://github.com/IanVS/eslint-nibble/blob/master/src/cli.js#L35.  I'll try to get to it within

[2016-09-27 00:12] aboyton commented on #27
I've had my first go at making a pull request to try an implement this. Please let me know if this works or not.

[2016-09-28 22:41] #27 closed

[2017-06-15 06:58] itamarki opened #31 "Update to ESLint 4.0.0"
Thanks. Great tool.

[2017-06-22 11:16] IanVS commented on #31
Thanks for the nudge, I'll take care of this soon if nobody else submits a PR first.

[2017-06-25 03:17] #31 closed

[2017-06-25 03:23] IanVS commented on #31
Published as npm version 4.0.0.

[2017-06-26 05:01] #2 closed

[2017-06-26 05:13] IanVS commented on #2
Added in version `4.1.0`.

[2017-07-07 13:00] IanVS opened #34 "Add per-rule autofixing"
The latest (upcoming) version of ESLint supports more control over fixes, so eslint-nibble should be able to fix individual rules automatically.

[2017-07-07 18:52] #34 closed

[2017-07-18 11:59] wildeyes opened #37 "Navigating, selecting, doesn't work under windows with node v7.10.1"

[2017-07-21 04:20] IanVS commented on #37
Oof, that's no good.  What version of windows are you using?  Also, is it possible to try out Node 8 to see if it still doesn't work?  Thanks!

[2017-07-31 05:26] IanVS opened #38 "Bar truncation screws up when all bars are small"
![image](https://user-images.githubusercontent.com/4616705/28763888-5416ac96-758f-11e7-8e75-398fe4516ffe.png)

[2017-09-08 12:47] brokentone opened #39 "Line-ignore feature request"
First off -- awesome project! We've been using this at Condé Nast to help with summaries of lint rule impact, as well as helping us roll out the changes / fixes.

That said, we've found that in general, lint, especially at company scale, is a challenging thing to work with. Providing best practice rules, while being realistic about the downstream impact to your consumers is tricky. Tools like this

[2017-09-08 17:30] IanVS commented on #39
Hi @brokentone, thanks for the feedback and suggestion.  I'm glad eslint-nibble is helping y'all out.

I'm going to have to give some thought to adding `eslint-ignore-next-line` statements as you suggest.  I don't think it belongs within eslint-nibble, but perhaps it could be a separate project.  It might even be possible to create it as a meta-plugin and use the eslint "autofixing" to add the dis

[2017-09-27 04:15] rohan-deshpande opened #40 "Seems to break regular eslint CLI"
Hey awesome package, really useful for going through a big codebase rule by rule and fixing things.

However, I noticed that that after installing it, regular `eslint` linting via the CLI is not observing the `.eslintrc` properly.

Here's an example; prior to installing `eslint-nibble` the following code, correctly as per my config, does not throw an eslint error

[code]

However, after installing

[2017-09-27 12:03] IanVS commented on #40
Interesting.  The only thing I can think of, is that when you install `eslint-nibble`, it brings in a new version of `eslint`, since it includes `eslint` in its dependencies.

To test, could you try something out?  Before installing `eslint-nibble`, find out what version of eslint is installed with `yarn list eslint` or `npm ls eslint`, then install `eslint-nibble` and check again.  If the version

[2017-10-26 22:50] aboyton opened #41 "Add --cache flag"
ESLint supports a `--cache` flag that can dramatically speed up linting. Adding this to nibble would also speed it up (presumably).

[2017-10-27 14:43] IanVS commented on #41
That seems reasonable.  Would you like to submit a PR?

[2017-10-30 00:24] aboyton commented on #41
No problem although it doesn't seem to make linting any faster so I'm not sure that it's correct.

[2017-11-14 22:01] rajsekhar3g opened #43 "Ability to define eslint rules"
I have a .eslintrc file in my project with all the required rules. However, when running this it seems to ignore that file and display some standard errors based on what it thinks are the rules. How can i force it to use my set of rules?

[2017-11-16 21:26] IanVS commented on #43
Hi @rajsekhar3g.  How do you have `eslint-nibble` installed (locally or globally)?  Can you give some examples of what is happening?  Putting a valid config file in your project directory should be enough to cause the correct rules to be used.  The more information you can provide, the more likely we can figure out the cause.

[2017-11-16 22:08] rajsekhar3g commented on #43
i have it installed using --save-dev flag. i have a .eslintrc file with some rules and when i run eslint, i get 4 errors. however with the eslint-nibble i get 2225 errors which doesnt make any sense, unless it has its own set of rules and doesnt obey .eslintrc. is there a way to set the file. what does it do when there isnt a file

[2017-11-21 18:11] rajsekhar3g commented on #43
This was not an issue with eslint-nibble. My eslint was doing a dry run fix hiding some of the errors.

[2017-11-21 18:11] #43 closed

[2017-11-21 18:14] IanVS commented on #43
Ah, great.  Glad you got it figured out!  Thanks for posting back to let us know.

[2018-02-02 06:07] ljharb opened #44 "Every time I hit up/down, instead of updating the display, it reprints the entire list"
I'm on a Mac on latest node.

[2018-02-02 06:08] ljharb opened #45 "`npx eslint-nibble` fails, because it uses `require`"
Instead of using bare `require`, eslint-nibble should use `require(resolve(path, { cwd: process.cwd() }))` and https://npmjs.com/resolve, so it doesn't have to be installed locally.

[2018-02-02 06:09] ljharb opened #46 "Select multiple rules at a time?"
I'd love a way to select multiple rules at a time, in particular so I can apply multiple whitespace rules all at once (generating the initial report takes a lot of time)

[2018-02-02 06:09] ljharb opened #47 "Pass rule(s) as a CLI flag?"
I'd love to be able to pre-select the rule[(s)](#46) with `--rule` or similar, so I can skip the laborious list navigation :-)

[2018-02-02 06:10] ljharb commented on #40
@IanVS `eslint` should not be a dep of eslint-nibble, it should be a `peerDep` - that way you'll force it to be installed, but you'll use the version that is already installed.

[2018-02-02 08:54] ljharb opened #48 "Only pass previously errored filenames when fixing"
If I run eslint-nibble on 10,000 files (which takes, say, 5 minutes to process), and the rule I select only has an error in 200 files, I would expect eslint to take, say, 1 minute to run on only those 200 files, instead of the full 5 minutes to run on all 10K files.

This could be achieved by minimizing what file paths are passed to the `eslint --fix` run - via a custom ignore file that ignores th

[2018-02-02 14:36] IanVS commented on #40
Thanks @ljharb. In my experience peer dependencies can be really confusing for new users to deal with, especially since npm and yarn don't install them automatically, and don't always do a great job of alerting the user what's needed.  My goal for this package was to make things as simple as possible to get started with eslint, and once up-and-running, for this package to be removed and replaced w

[2018-02-02 14:42] IanVS commented on #47
That sounds reasonable.

[2018-02-02 14:48] IanVS commented on #46
Would it meet your needs if multiple rules could be passed on the cli (https://github.com/IanVS/eslint-nibble/issues/47)?

[2018-02-02 14:53] IanVS commented on #48
Rather than try to generate a custom ignore file, I think that https://github.com/IanVS/eslint-nibble/pull/42 would help speed things up, because only failing files will be re-linted.  It's not a perfect solution, because _all_ failing files will be re-linted, not just the ones that are failing for the particular rule(s) selected.  I'll work on getting that merged/released, and then maybe you can

[2018-02-02 14:55] IanVS commented on #45
Interesting, I hadn't seen that before.  I'll try it out.

[2018-02-02 16:29] ljharb commented on #40
Alternatively, you could use a dep *and* a peer dep; which would only complain when there was a conflict.

[2018-02-02 16:30] ljharb commented on #46
Yes; but at that point it’d seem inconsistent to only allow one via the UI.

[2018-02-02 16:31] ljharb commented on #48
That seems like a great first step :-)

[2018-02-02 18:24] IanVS commented on #46
I took another look, and it seems it might be possible with inquirer using a `checkbox` type
(https://github.com/SBoudrias/Inquirer.js#checkbox---type-checkbox).  If I get some time I'll try it out.

[2018-08-15 16:56] hjylewis opened #50 "Support ESLint 5"
Get `TypeError: Cannot read property 'ecmaFeatures' of undefined`

[2018-09-06 13:20] nywooz commented on #6
1. to resolve this, i ran the line below
`npm install --save-dev babel-polyfill`

2. Then, I imported the file in my main entry "App.js".
`require("babel-polyfill");`

If you are not not, try navigating you "node_modules" folder and search for
"node_modules\babel-polyfill"

[2018-09-17 18:37] IanVS commented on #50
Thanks for the report, and sorry that I missed it in my notifications.  I will try to find some time soon to take a look.

[2018-10-14 00:34] IanVS commented on #38
Fixed by #51.

[2018-10-14 00:34] #38 closed

[2018-10-15 03:30] #40 closed

[2018-10-15 03:30] #50 closed

[2018-10-15 03:54] IanVS commented on #45
I just tried a `npx --ignore-existing --no-install eslint-nibble bar.js` and it _seemed_ to work just fine.  Is this still an issue, or has `npx` improved to the point where it works with no changes to this package?

[2018-10-15 04:06] ljharb commented on #45
It shouldn’t need those flags to work tho.

[2018-10-15 04:36] #41 closed

[2018-10-15 04:48] IanVS commented on #48
I believe that https://github.com/IanVS/eslint-nibble/pull/42 combined with the [recent improvements](https://eslint.org/blog/2018/07/eslint-v5.2.0-released#highlights) in eslint caching should be enough to close this issue.

[2018-10-15 04:48] #48 closed

[2018-10-15 05:43] IanVS commented on #45
Hm, this is still broken in `5.0.0-beta.1`.  I'm seeing:

[code]

I don't think it likes that eslint is a peer dependency.  🙄

[2018-10-22 12:41] IanVS commented on #45
Unfortunately I couldn't get this working right now, so I backed it out from the upcoming 5.0 release.  I'll try to spend some more time on it after 5.0 is out, but I don't want this to hold things up.

[2018-10-22 12:42] IanVS commented on #47
Closed by https://github.com/IanVS/eslint-nibble/commit/58d09cafe1ba91054dab4a5384aa017e28827c6d, released in `5.0.0-beta.4`

[2018-10-22 12:42] #47 closed

[2018-10-22 12:49] IanVS commented on #46
Subsequent lint runs are a lot faster now with `--cache`, and I'm reluctant to use the checkbox option because it's more cumbersome to use.  The faster speed, together with the new `--rule` flag, _should_ be enough to meet your needs here.  If you'd like to try, it's available as `eslint-nibble@next`.  If you still need multiple rules, I can add a `--multi` flag, but I wouldn't want it to be the d

[2018-10-22 12:53] IanVS commented on #44
Can you verify if this is still a problem with `eslint-nibble@next`?

[2018-10-22 12:54] #37 closed

[2018-10-22 15:57] ljharb commented on #46
Since I’m intending to fix all whitespace-related rules at once, it’d be great to have a multi flag - it needn’t be the default.

[2018-10-23 15:17] brokentone commented on #39
@IanVS I appreciate your feedback from some time ago -- I'm still interested in this concept, but I agree at this point that it is not / should not be the concern of your utility. I think, were it interesting to accept the current state of code while ensuring modified/added lines are improved. Leaving comments inline certainly is heavy handed. The better thing might be for eslint itself to have so

[2018-11-28 18:55] slorber commented on #46
hey @IanVS thanks for this tool

I'd like to nibble only error rules and exclude warning rules, is that possible instead of mananing myself a hardcoded list in the cli cmd?

[2018-11-28 19:49] IanVS commented on #46
Hi @slorber, great idea.  I've added a `--no-warnings` option, available in version `5.1.0`.

[2018-11-29 10:06] slorber commented on #46
great thanks ;)

[2018-12-25 08:31] Alex-Sokolov opened #54 "Respect .eslintignore file"
Some files needed to be ignored by eslint-nibble (which already ignored eslint via .eslintignore), but now there are no ways to do it

[2018-12-31 04:04] IanVS commented on #54
It _should_ already be respecting the `.eslintignore` file, because under the hood eslint is still being run on the files.  I'll do some investigating to dobule-check that, but can you confirm that you have a single `.eslintignore` file located at your project root?  And are you running `eslint-nibble` from your project root as well?  Any details you can share would be helpful.

[2019-01-06 16:39] Alex-Sokolov commented on #54
Sorry! I am confused between two our projects, which one have eslintignore, and one which not :)

[2019-01-06 16:39] #54 closed

[2019-02-11 12:09] sibelius commented on #45
I've got the same problem

what if eslint-nibble have its own eslint package?

I think this issue would be solved

[2019-02-11 14:41] IanVS commented on #45
@sibelius, in fact it did come shipped with its own version of eslint up until 5.0, but that causes other problems.  As a workaround until `npx` can properly support peer-dependencies, I'd suggest using `npm install --no-save eslint-nibble` as noted in the readme.

[2019-03-20 14:55] nisevi opened #55 "Fixes all issues when selecting only one rule"
When selecting a particular rule to be fixed:

![image](https://user-images.githubusercontent.com/3024789/54694015-59345680-4b06-11e9-873e-8becaa0d6f2e.png)

It will ask for confirmation:

![image](https://user-images.githubusercontent.com/3024789/54694073-6c472680-4b06-11e9-8034-b38313ef4a94.png)

![image](https://user-images.githubusercontent.com/3024789/54694118-79641580-4b06-11e9-9230-38b71118

[2019-03-28 22:21] lloydbanks commented on #6
Strings below helped me to solve the issue
[code]
Note that it should be installed as a `dependency`, not a `devDependency ` (because it runs before our source code).
And a `@` symbol should be present for the last babel version.

[2019-03-28 22:45] IanVS commented on #6
@lloydbanks and @nywooz are you having this error when using eslint-nibble? If so, would you mind please opening another issue?  Otherwise, I think as mentioned above this issue is ranking on Google and drawing in folks having issues in other projects.  For that reason I'm going to lock this thread.  But if you've come here from Google, you might as well check out what eslint-nibble can do for you

[2019-03-29 02:22] IanVS commented on #55
I just now saw this, sorry for the delay.  I'm not quite sure what's going on, but I can look into it.  What version of eslint are you using?

[2019-03-29 13:34] nisevi commented on #55
@IanVS the versions I'm using are:

[code]

This is what I have in my `package.json` file.

[2019-03-29 20:35] IanVS commented on #55
Hi @nisevi, thanks.  The peer dependency of eslint-nibble on eslint is 4.0 or above.  Are you able to upgrade your eslint to a more recent version?

[2019-03-30 16:18] ljharb commented on #55
(specifically, unless `npm ls` exits successfully, you won’t be able to rely on anything working properly)

[2019-03-31 14:02] nisevi commented on #55
Thank you for your time @IanVS and @ljharb I will try to upgrade the project for using eslint 4.0 👍

[2019-03-31 14:02] #55 closed

[2019-04-18 09:24] dgrishajev commented on #44
I face the same issue using the latest version of `eslint-nibble`.

[2019-09-24 11:36] viT-1 opened #57 "Avoid interactive questions to autofix one --rule"
From [this documentation](https://github.com/IanVS/eslint-nibble/pull/35/commits/c4c895bbd52067da5c44039ce4103b60b20dab66) is not clear how to avoid node.js interactive and autofix errors & warnings for command: `eslint-nibble ./src/**/*.ts --rule comma-dangle`

How to preset answers "Enter, y, y"?

[2019-10-27 01:49] IanVS commented on #57
Hi @viT-1, what use case do you have for this?  The whole point of eslint-nibble is to give an interactive display and menu when fixing eslint rules.  If you just want to fix a particular rule, you can run `eslint --fix` directly.  https://eslint.org/docs/user-guide/command-line-interface#fixing-problems

[2019-10-27 02:22] ljharb commented on #57
That may not be entirely accurate, because afaik there’s no way to use eslintrc (for settings, parser options, default rule configs, etc) while disabling all rules except the ones enabled on the command line.

[2019-10-27 03:21] IanVS commented on #57
Ah, good point.  In that case, I'd suggest taking a look at https://github.com/ianvs/eslint-filtered-fix and seeing if that would meet your needs, @viT-1.  It's what eslint-nibble uses under-the-hood.

[2019-10-27 03:22] #57 closed

[2019-12-07 08:34] ScriptedAlchemy opened #59 "Option to just print all errors - use for CI lint enforcements"
I have a large app with various lint errors, I want to apply the auto fix only to a select set of rules. This project does a beautiful job, I’d like to use it in CI to lint a select set of rules- if there’s errors it fails the build. This would let me enforce linting across things we already fixed. I cannot run lint in CI due to number of errors.

[2019-12-07 08:34] ScriptedAlchemy commented on #59
@IanVS

[2019-12-17 21:30] IanVS commented on #59
Just to make sure I understand correctly, it sounds like what you want is to use https://github.com/IanVS/eslint-filtered-fix, but you want the exit code to be non-zero if there are any linting errors remaining after the fixes, so that CI would fail?  Or, are you looking for something that doesn't do any fixes, and just checks for linting errors using your project's config, but filtered just to a

[2019-12-17 23:15] ScriptedAlchemy commented on #59
Just checks for a subset of errors and either fails of passes.

Preset much I have lots of lint issue on some projects. I use your tool to fix one rule at a time but I want to also enforce the ones already fixed. Because there’s so many errors I can’t lint in CI otherwise the build just fails. So I was hoping to use something like your tool to verify there’s no linting errors on a subset of the ru

[2019-12-18 00:06] IanVS commented on #59
Okay I understand. I don't think anything I have will meet your needs right now, but I'll take a crack at putting something together.

[2019-12-20 23:13] ScriptedAlchemy commented on #59
Appreciate it! Would you accept a PR to this project if I took a stab at it? Any pointers on how you’d like to see implementation? It seems like it could be relatively trivial.

Basically, I’d extend your CLI options and have it run whatever it does now. If there’s a —ci flag then instead of showing any prompts I’d have it either echo out the stdout from eslint binary with the appropriate exit cod

[2019-12-21 00:17] IanVS commented on #59
I need to give this a little thought. My first reaction is that this is a different enough use case that it should be separate package from eslint-nibble.  However, maybe it's also reasonable that others might be in your situation and want to set up some protection to ensure new linting errors are not introduced while working down existing errors.

I'm leaning towards breaking out `eslint-filtered

[2019-12-21 00:19] IanVS commented on #59
@ljharb do you have any thoughts on this issue of running eslint on a subset of rules for CI?

[2019-12-21 17:17] ljharb commented on #59
Let’s see.

A separate package makes sense, there’s lots of use cases for filtering eslint rules.

Using the CI env var (of which there are many; use the popular npm package for this whose name i forget) is great, but an explicit flag is a must - implicitness is sketchy enough without an explicit way to set or disable something. Separately, there’s other cases that aren’t CI where interactive woul

[2019-12-22 18:09] ScriptedAlchemy commented on #59
I searched and searched, your work was basically the only decent option out there.

I do like the idea of an eslint-filtered type package. I’ll mess around with additional functionality next week. Filtered fix is pretty clean and simple so I think it could be pretty straightforward

I’ll do another round of searching before forking, if you’re planning on a eslint-filtered repo, I can pr back to th

[2019-12-24 02:21] IanVS commented on #59
Alright, after re-familiarizing myself with how this package is put together, I'm going to add the flag directly here, and maybe later also create a separate standalone package.  Should have a PR up for you to take a look at shortly, @ScriptedAlchemy.  Thanks for bearing with me here.  Busy time of the year.  ;)

[2020-01-03 18:16] #59 closed

[2020-01-03 18:21] IanVS commented on #59
I've published a beta version with `--no-interactive` and `--format` flags.  Can you try it out using `eslint-nibble@next` and let me know if it works for you, @ScriptedAlchemy?

[2020-01-20 16:00] IanVS commented on #59
@ScriptedAlchemy do you have any feedback on the beta build?  If it meets your needs, I'd like to promote it to stable.

[2020-01-28 11:52] probil opened #62 "Can't install eslint-nibble without `git` on system"
Throws an error when trying to install:

[code]
---
Here is my env:
[code]

[2020-01-28 18:44] ljharb commented on #62
Looks like you're missing `git` on your alpine system. Either way this would be better filed on npm than here.

[2020-01-28 19:20] IanVS commented on #62
Yeah, sorry, I don't think this has anything to do with eslint-nibble.  Make sure you've got `git` installed, and let me know if you have any other trouble.

[2020-01-28 20:55] probil commented on #62
I don't have any problems with a bunch of other tools I use.

It seems like the issue is directly connected to this dependency:
https://github.com/IanVS/eslint-nibble/blob/d9edd1f901c3f04a552cdc333c262e06e9e70d6b/package.json#L42

Hosting your forked `eslint-stats` on npm as a separate package would fix the issue. I mean something under your namespace, e.g. `@ianvs/eslint-stats` 🤔

[2020-01-28 21:01] IanVS commented on #62
Hm, I see.  So you don't want `git` installed? And npm is trying to use it to install my fork from github.  Pointing to a git commit is valid in a `package.json` (https://docs.npmjs.com/files/package.json#github-urls), so this kind of does seem like an issue in `npm`.

That said, if I get some time, I'll try to do as you suggest and publish to a namespace.

[2020-01-28 21:15] ljharb commented on #62
npm supports installing from git by default, so this is an issue with your system - anything with node and npm also needs git to be fully functional.

[2020-02-11 17:31] kaatt commented on #46
I second this. Would save a lot of time if I could select multiple rules using the CLI (instead of passing flags).

[2020-04-14 13:10] jaacko-torus commented on #45
I loved this utility, I took a break from js for a year or so and now I come back and I'm getting this error. Is there any chance that this will be fixed?

[2020-04-14 13:14] IanVS commented on #45
Hi, do you know if npx supports peer dependencies now?  If so, I could take a shot at it.  Or even better, I'd love to review a PR if you or someone else is able to put one together.

[2020-04-14 14:27] ljharb commented on #45
I don’t think it does automatically, but you could probably craft an npx command that works.

[2020-05-19 10:58] kobik opened #64 "Next release"
Hi @IanVS, thanks for this package.

Any ETA on the next npm release which should include the new CLI flags such as `--no-interactive`?

[2020-05-19 12:26] IanVS commented on #64
Hi @kobik, thanks for the interest.  I'm happy to cut a new major release, but would you mind trying out the beta first to ensure it does what you need it to?  I haven't gotten any feedback on it so far, and I'd love if someone could try it out.  You can install it using `eslint-nibble@next`.

[2020-05-19 12:54] kobik commented on #64
installing using `npm i -g eslint-nibble@next` resulted in
`eslint-nibble@5.0.0-beta.4`, so i installed `npm i -g eslint-nibble@beta`
which resulted in `eslint-nibble@6.0.0-beta.0`.

anyway, when i ran `eslint-nibble app --cache --no-interactive --rule
'security/detect-object-injection'` it didn't respect the rule, which could
be probably by design, but not exactly what i wanted.

what i wanted to

[2020-05-19 13:16] IanVS commented on #64
Ah, sorry for that confusion, glad you figured it out.  As for the problem you're seeing, it looks like you installed eslint-nibble globally.  Do you also have eslint and the `security` plugin installed globally?  That's not how I suggest installing this package, so there might be some bugs when running it that way.  Is there a reason you can't install it into the project that you're running again

[2020-05-19 14:54] ljharb commented on #64
Why would you need a new major if there’s just new stuff? Usually that’s a minor.

Also, eslint 7 is out; it’d be great to ensure eslint-nibble works with it.

[2020-05-19 16:12] kobik commented on #64
@IanVS, this was just for a quick test locally on my mac. We do want to use as local install.

Still when running the command
[code]
results on returning errors for all of the rules.

It it by design?

[2020-06-08 03:08] indvinoth commented on #62
I am facing a different issue with the `eslint-stats` package, When I install packages through the internet I'm not facing any issues but  if I try to install behind the corporate firewall with privately hosted artifactory this fails. There is no connectivity to github and there is prompt asking to choose a version. This was working fine earlier and started to fail from last week.

[2020-06-16 18:15] tabrindle opened #65 "Feature request: --only-fixable"
It would be great to be able to use this package and filter by those rules that are auto-fixable by eslint.

You could also implement this as some kind of indication on the initial report of rule violations as to which ones are fixable.

[2020-07-18 05:22] romanvbabenko opened #67 "Combination --no-interactive and --rule does not work"
Version: v6.0.0-beta.0
Node: 12
System: OSX Catalina

For instance:
`
 yarn eslint-nibble --no-interactive --rule semi file.js`

shows just everything with

`
error Command failed with exit code 1.
`

[2020-08-01 02:23] IanVS commented on #62
@indvinoth I haven't changed anything on this end, so I have to imagine that either something in npm has changed, or something in your corporate firewall rules.  I'm sorry, but I don't think I can help with that one.

But I have published eslint-stats as @ianvs/eslint-stats, and released [eslint-nibble@6.0.0-beta.1](https://github.com/IanVS/eslint-nibble/releases/tag/v6.0.0-beta.1).

[2020-08-01 02:23] #62 closed

[2020-08-01 02:27] IanVS commented on #64
@ljharb I need a major because of updates to dependencies dropping support for node less than 8.

@kobik thanks for testing it out.  It seems there may be a bug using `--no-interactive` and `--rule` together.  https://github.com/IanVS/eslint-nibble/issues/67. I will try to take a look soon, sorry for the delay.

[2020-08-01 19:47] #67 closed

[2020-08-01 20:53] #46 closed

[2020-08-01 21:01] IanVS commented on #46
Better late than never? https://github.com/IanVS/eslint-nibble/releases/tag/v6.0.0

[2020-08-01 21:02] IanVS commented on #64
[6.0.0](https://github.com/IanVS/eslint-nibble/releases/tag/v6.0.0) has been released.

[2020-08-01 21:02] #64 closed

[2020-08-01 21:04] IanVS commented on #67
This is fixed in version 6.0.0.  Thanks for the report.  Please let me know if you have any other problems.

[2020-08-02 10:56] romanvbabenko opened #74 "Add `--fix` flag to combine with `--no-interactive`"
yarn eslint-nibble --rule quotes --no-interactive --fix .

[code]

[2020-08-03 04:51] IanVS commented on #74
Sorry, that's not one of the eslint-nibble flags.  What use-case do you have for this?  You just want to fix a single rule without the interactive chooser?

[2020-08-04 15:26] romanvbabenko commented on #74
Exactly. If it can be done in interactive mode I'd be great to have it in non-interactive one as well.
For instance in Ruby linter tool RuboCop can do that from the box
[code]
so I'm looking the same functionality tool for js part

[2020-08-05 01:32] IanVS commented on #74
Hmmm, I'll need to think about it.  The original goal of `--no-interactive` was simply to enable use in CI, but your case makes sense too.  In fact, eslint-nibble uses https://github.com/IanVS/eslint-filtered-fix under the hood, and I think it could meet your needs nicely.  Maybe try it out and let me know what you think?

[2020-08-05 16:12] indvinoth commented on #62
@IanVS Thanks for your response. I was able to sort it out with our internal Artifactory

[2020-09-01 06:06] Alex-Sokolov opened #75 "Add progress functionality"
Can you integrate some progress like https://github.com/zero-t4/eslint-plugin-progress#readme
When you plugin it count ok, but when select rule continue increase counter, and not starting from zero

[2020-11-23 19:51] bdefore commented on #74
would also like to see this. interactive mode is particularly challenging on a large project where if there is more than one page worth of rule options, it will redraw for each cursor movement.

[2020-11-23 19:52] IanVS commented on #74
Have you tried using https://github.com/IanVS/eslint-filtered-fix for this, @bdefore?

[2020-11-23 19:59] bdefore commented on #74
i have not yet

[2020-11-24 14:20] bdefore commented on #74
indeed it does. thanks for your work on these libraries.

[2020-12-15 14:51] #74 closed

[2020-12-24 13:40] Alex-Sokolov opened #78 "Esprint integration"
Can you integrate https://github.com/pinterest/esprint
It running eslint with multiple threads and show results more quickly

[2021-06-24 14:18] #65 closed

[2021-06-24 15:23] IanVS commented on #65
This has been released in version [7.0.0](https://github.com/IanVS/eslint-nibble/releases/tag/V7.0.0).

[2021-09-06 09:58] egracens opened #84 "package.lock.json size"
It is not an issue. Just wondering. Is it OK that package.lock.json has a size of 13k lines?

[2021-09-06 15:29] ljharb commented on #84
Yes, it’s ok and expected, and has nothing to do with this repo specifically.

[2021-09-07 13:44] egracens commented on #84
There are 916 lines of JS code and 13k lines of dependencies in this repo. If it is OK for JS projects in general then we live in the mad world 😄

![image](https://user-images.githubusercontent.com/10169850/132354566-a43d372e-4a2b-4d1e-bffd-b2b662e03c56.png)

[2021-09-07 13:51] IanVS commented on #84
That's not _quite_ accurate.  I'm sure there are many more lines of javascript in the dependencies, but I'm guessing the tool you ran does not include `node_modules`.  The `package.lock.json` file describes the dependencies, and you can learn more about it at https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json.

Another thing to keep in mind, many of those dependencies are development

[2021-09-07 15:13] ljharb commented on #84
More deps is better :-)

[2021-09-08 00:33] #84 closed

[2021-09-08 00:51] IanVS commented on #45
I just tried running `npx eslint-nibble .` in one of my projects, and it worked just fine.  Maybe npx has made improvements.  I'm going to close this out, but speak up if you still experience problems.

[2021-09-08 00:51] #45 closed

[2021-10-21 17:59] Stargator opened #85 "Can I skip selecting an rule to "fix"?"
What can I do at this stage if I don't want to fix anything. I just wanted to see a report.

[2021-10-21 18:19] IanVS commented on #85
Normally I just kill the process with `ctrl+c`.  I can see if there's a nicer way to do that though...

[2021-10-22 10:15] carbonid1 opened #86 "How to pass additional config for a rule"
Hey, the project is awesome!

I would like to use it with `import/no-unused-modules` rule from `eslint-plugin-import` plugin but not sure how to pass additional config for that rule.

Is there an option do use something like this `--rule="{ import/no-unused-modules: [2, { unusedExports: true }] }"`?

Thanks!

[2021-10-22 18:51] #86 closed, assigned to nobody

[2021-11-22 13:19] IanVS opened #87 "Support ESLint 8"
CLIEngine [has been removed](https://eslint.org/docs/user-guide/migrating-to-8.0.0#the-cliengine-class-has-been-removed) in version 8.0.0.

[2021-11-23 02:16] IanVS commented on #87
https://github.com/IanVS/eslint-filtered-fix version 0.2.0 now supports eslint 8.

[2021-11-30 22:09] #87 closed

[2021-12-01 02:03] IanVS commented on #85
Yeh, seems like ctrl + c is the way to go.  It was suggested to allow escape at one time, but that was decided against. https://github.com/SBoudrias/Inquirer.js/issues/148

[2021-12-01 02:03] #85 closed

[2022-01-19 18:53] chris-reeves opened #90 "Auto-fixing errors completes but throws an exception"
When running `eslint-nibble` interactively and attempting to auto-fix errors, the errors are auto-fixed but `eslint-nibble` exits after throwing the following exception:
[code]

This error should be easy to replicate by running `eslint-nibble` interactively against a file with auto-fixable errors and answering `y` when asked about attempting to auto-fix them.

[code]

[2022-01-20 02:47] #90 closed

[2022-01-25 11:17] brunolnetto opened #92 "Avoid strictive rules using `eslint-nibble`"
Hi Ian,

I am pleased to endorse this package. ESLint is a necessary package. On available packages, the errors are not easy to treat one by one. At this moment, I fix all [my](https://github.com/dot-quiver/dot-quiver-api) lint-ycal issues.

I would like to ask/suggest a feature: given the .eslintrc config file, how is it possible to avoid some specific rule by using `eslint-nibble`? Typically, as

[2022-01-25 12:37] IanVS commented on #92
Hi, are you asking how to configure eslint to ignore that rule, or only eslint-nibble?  There's no way to hide it from eslint-nibble only, but you can turn it off on your eslint config in the `rules`  section, like this:

[code]

[2022-01-25 13:19] brunolnetto opened #93 "Fix all fixable eslint issues"
Since fixable eslint issues may be hand by hand fixed, a natural feature is to allow users to have the option to autofix all fixable ones.

[2022-01-25 14:36] IanVS commented on #93
That can be done by eslint without the need for eslint-nibble.  https://eslint.org/docs/user-guide/command-line-interface#fixing-problems

This tool isn't meant to replace eslint, but rather add some functionality to it, specifically focusing on one rule at a time.

[2022-01-25 17:50] brunolnetto commented on #92
Nice! I am very pleased to use the library. Thank you!

[2022-01-25 17:54] brunolnetto commented on #92
I did as you mentioned, but the camelcase option still appears on my eslint-nibble menu. The resulting `.eslintrc.cjs` content is below.

[code]

[2022-01-25 17:55] #92 closed

[2022-01-25 17:59] brunolnetto opened #94 "Jest statements `no-undef` eslint error"
The test framework _Jest_ is very useful for programmers. However, eslint dislikes its statements: `it`, `expect`, `describe` and `beforeEach`, among others. Maybe I am asking in the wrong place, I ask you to say if so:

Is the a manner to either walk around or fix this "issue"?

[2022-01-25 18:00] ljharb commented on #94
In your eslint config, set `env: { jest: true }`. It's got nothing to do with eslint-nibble.

[2022-01-25 18:05] brunolnetto commented on #94
Great!

[2022-01-25 18:05] #94 closed

[2022-01-25 19:33] brunolnetto commented on #93
Nice. Thank you for the quick answer!

[2022-01-25 19:33] #93 closed

[2022-02-18 14:39] polaroidkidd opened #95 "Runn a specific rule from the cli"
Hi

1. Loving this tool! It's saving me from a lot of head-aches.
2. I've looked through the readme, but I'm not sure I understand the `--non-interactive` flag correctly. Does this mode allow me to specify a rule in the cli which nibble would auto-fix?

I have a monorepo with 28 apps in it and navigating into every app one-at-a-time is a bit of pain. I've tried using the rule in combilation with t

[2022-02-18 15:34] IanVS commented on #95
@polaroidkidd Yes you should be able to specify something like `eslint-nibble . --non-interactive --rule semi` In order to run eslint against your code, using your project config, but only for the "semi" rule.  If that's not working, can you share the full command that you are running?

[2022-02-18 15:35] IanVS commented on #95
Are you trying to automatically fix a particular rule?  If so, https://github.com/IanVS/eslint-filtered-fix might be what you're looking for (it's what eslint-nibble uses under-the-hood).

[2022-02-18 15:43] IanVS commented on #95
Great, I hope that meets your needs, and let me know if you hit any other issues.  Since you have such a large project, I'll point out I recently became aware of that https://github.com/mizdra/eslint-interactive, which it sounds like might have better performance than eslint-nibble (though maybe not eslint-filtered-fix).  If you try that out, I'd be curious to hear your thoughts on it.

[2022-02-20 12:33] mizdra commented on #95
eslint-interactive has a feature called [Programmable API](https://github.com/mizdra/eslint-interactive/blob/627f1c5e6b6b983cdabe4e945db5619aa6246fe0/docs/programmable-api.md). You can probably use it to do the same thing as eslint-filtered-fix (more flexible than eslint-filtered-fix, but the API is not as easy). If you need it, please see below.

- [Documentation](https://github.com/mizdra/eslint

[2022-02-20 13:53] polaroidkidd commented on #95
oh, sweet! I passed this on to the team developing our internal react-scripts version as this tool greatly helps migrating the code base I'm managing to the new eslint rules.

[2022-08-15 14:51] ehoogeveen-medweb opened #98 "Global ESLint on Windows: Allow passing through `--resolve-plugins-relative-to`"
On Windows, the only way I can get plugins to resolve with my global installation of ESLint is by passing the option `--resolve-plugins-relative-to`, set to the output of `npm root -g`. Unfortunately `eslint-nibble` does not recognize this option, so I can't use it on Windows.

[2022-08-15 15:00] IanVS commented on #98
Hi @ehoogeveen-medweb, that sounds fine to me, would you be willing to submit a PR?  You could use this PR as a guide.  https://github.com/IanVS/eslint-nibble/pull/76/files

[2022-08-15 15:03] ljharb commented on #98
Note that using eslint globally is heavily deprecated by the eslint team, and has always been a bad idea.

[2022-08-18 14:41] #98 closed

[2022-08-18 15:22] IanVS commented on #98
Published in 8.1.0.  Thanks!

[2022-11-21 10:41] ehoogeveen-medweb opened #100 "`Autofix warnings?` question is confusing"
If the rule you're examining has the warning severity, `eslint-nibble` first asks "Would you like to attempt to auto-fix?" and then "Autofix warnings?".

I found this confusing: If I answer "yes", does it mean "auto-fix this rule" or does it mean "auto-fix this rule and also all (other) warnings"? If I answer "no", does it mean "only auto-fix this rule" or does it mean "do nothing"?

If we're only